MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=

MONGO_EXPRESS_USER=
MONGO_EXPRESS_PASSWORD=

MODEL_MAIN=paraphrase-multilingual-MiniLM-L12-v2
MODEL_BI_ENCODER=/app/models/bi-encoder-cv-matcher
JWT_SECRET_KEY=smart-recruit-ai-super-secret-key-change-in-production
JWT_ALGORITHM=HS256
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SEC=